name = "ClimaAtmos"
uuid = "b2c96348-7fb7-4fe0-8da9-78d88439e717"
version = "0.1.0"

[deps]
ClimaCore = "d414da3d-4745-48bb-8d80-42e94e092884"
DiffEqBase = "2b5f629d-d688-5b77-993f-72d75c75574e"
DiffEqCallbacks = "459566f4-90b8-5000-8ac3-15dfb0a30def"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
DocumenterTools = "35a29f4d-8980-5a13-9543-d66fff28ecb8"
GaussQuadrature = "d54b0c1a-921d-58e0-8e36-89d8069c0969"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
RecursiveArrayTools = "731186ca-8d62-57ce-b412-fbd966d074cd"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
UnPack = "3a884ed6-31ef-47d7-9d2a-63182c4928ed"

[compat]
ClimaCore = "0.6"
DiffEqBase = "6"
DiffEqCallbacks = "2"
Documenter = "0.27"
DocumenterTools = "0.1"
GaussQuadrature = "0.5"
IntervalSets = "0.5"
JLD2 = "0.4"
MPI = "0.19"
OrdinaryDiffEq = "5, 6"
Plots = "1"
RecursiveArrayTools = "2"
Revise = "3"
StaticArrays = "1"
UnPack = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
