name = "ClimaAtmos"
uuid = "b2c96348-7fb7-4fe0-8da9-78d88439e717"
authors = ["Climate Modeling Alliance"]
version = "0.35.4"

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
ArgParse = "c7e460c6-2fb9-53a9-8c5b-16f535851c63"
Artifacts = "56f22d72-fd6d-98f1-02f0-08ddc0907c33"
AtmosphericProfilesLibrary = "86bc3604-9858-485a-bdbe-831ec50de11d"
ClimaComms = "3a4d1b5c-c61d-41fd-a00a-5873ba7a1b0d"
ClimaCore = "d414da3d-4745-48bb-8d80-42e94e092884"
ClimaDiagnostics = "1ecacbb8-0713-4841-9a07-eb5aa8a2d53f"
ClimaInterpolations = "dd0f122e-fa3b-47f3-bcf0-93bbc60d885e"
ClimaParams = "5c42b081-d73a-476f-9059-fd94b934656c"
ClimaTimeSteppers = "595c0a79-7f3d-439a-bc5a-b232dc3bde79"
ClimaUtilities = "b3f4f4ca-9299-4f7f-bd9b-81e1242a7513"
CloudMicrophysics = "6a9e3e04-43cd-43ba-94b9-e8782df3c71b"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
Insolation = "e98cc03f-d57e-4e3c-b70c-8d51efe9e0d8"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
LazyBroadcast = "9dccce8e-a116-406d-9fcc-a88ed4f510c8"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
NCDatasets = "85f8d34a-cbdd-5861-8df4-14fed0d494ab"
NVTX = "5da4648a-3479-48b8-97b9-01cb529c0a1f"
NullBroadcasts = "0d71be07-595a-4f89-9529-4065a4ab43a6"
RRTMGP = "a01a1ee8-cea4-48fc-987c-fc7878d79da1"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"
SparseMatrixColorings = "0a514795-09f3-496d-8182-132a7b665d35"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
SurfaceFluxes = "49b00bb7-8bd4-4f2b-b78c-51cd0450215f"
Thermodynamics = "b60c26fb-14c3-4610-9d3e-2d17fe7ff00c"
UnrolledUtilities = "0fe1646c-419e-43be-ac14-22321958931b"
YAML = "ddb6d928-2868-570f-bddf-ab3f9cf99eb6"

[compat]
Adapt = "4.1"
ArgParse = "1"
Artifacts = "1"
AtmosphericProfilesLibrary = "0.1.7"
ClimaComms = "0.6.9"
ClimaCore = "0.14.49"
ClimaDiagnostics = "0.3.2"
ClimaInterpolations = "0.1.1"
ClimaParams = "1.0.13"
ClimaTimeSteppers = "0.8.2"
ClimaUtilities = "0.1.27"
CloudMicrophysics = "0.31.8"
Dates = "1"
Flux = "0.16.7"
ForwardDiff = "1"
Insolation = "1.1"
Interpolations = "0.15.1, 0.16"
JLD2 = "0.6.3"
LazyArtifacts = "1"
LazyBroadcast = "1"
LinearAlgebra = "1"
Logging = "1"
NCDatasets = "0.14.2"
NVTX = "0.3, 1"
NullBroadcasts = "0.1"
RRTMGP = "0.21.6"
Random = "1"
SciMLBase = "~2.108, ~2.109, ~2.110, ~2.111, ~2.112"
SparseMatrixColorings = "0.4.20"
StaticArrays = "1.9"
Statistics = "1"
SurfaceFluxes = "0.15"
Thermodynamics = "0.15.7"
UnrolledUtilities = "0.1.9"
YAML = "0.4"
julia = "1.9"
Aqua = "0.8.9"
ArtifactWrappers = "0.2"
CairoMakie = "0.11"
ClimaReproducibilityTests = "0.1.1"
Distributions = "0.25.87"
IntervalSets = "0.7"
OrderedCollections = "1.6"
Pkg = "1"
PrettyTables = "2.4"
SafeTestsets = "0.1"
Test = "1"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
ArtifactWrappers = "a14bc488-3040-4b00-9dc1-f6467924858a"
CairoMakie = "13f3f980-e62b-5c42-98c6-ff1f3baf88f0"
ClimaReproducibilityTests = "e0c89595-00ba-42a9-9f9b-061ef3dc23a1"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
PrettyTables = "08abe8d2-0d0c-5749-adfa-8a2ac140af0d"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Aqua", "ArtifactWrappers", "CairoMakie", "ClimaReproducibilityTests", "Distributions", "IntervalSets", "OrderedCollections", "Pkg", "PrettyTables", "SafeTestsets", "Test"]
