name = "ClimaAtmos"
uuid = "b2c96348-7fb7-4fe0-8da9-78d88439e717"
authors = ["Climate Modeling Alliance"]
version = "0.3.0"

[deps]
ClimaCore = "d414da3d-4745-48bb-8d80-42e94e092884"
ClimaCorePlots = "cf7c7e5a-b407-4c48-9047-11a94a308626"
ClimaCoreVTK = "c8b6d40d-e815-466f-95ae-c48aefa668fa"
CloudMicrophysics = "6a9e3e04-43cd-43ba-94b9-e8782df3c71b"
Dierckx = "39dd38d3-220a-591b-8e3c-4c3a8c710a94"
DiffEqCallbacks = "459566f4-90b8-5000-8ac3-15dfb0a30def"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FastGaussQuadrature = "442a2c76-b920-505d-bb47-c5924d526838"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
Insolation = "e98cc03f-d57e-4e3c-b70c-8d51efe9e0d8"
IntervalSets = "8197267c-284f-5f27-9208-e0e47529a953"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
LambertW = "984bce1d-4616-540c-a9ee-88d1112d94c9"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
OperatorFlux = "47cfafe2-3833-4da3-8183-ce14c2b92cbd"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
StochasticDiffEq = "789caeaf-c7a9-5a7d-9973-96adeb23e2a0"
SurfaceFluxes = "49b00bb7-8bd4-4f2b-b78c-51cd0450215f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Thermodynamics = "b60c26fb-14c3-4610-9d3e-2d17fe7ff00c"
UnPack = "3a884ed6-31ef-47d7-9d2a-63182c4928ed"

[compat]
ClimaCore = "0.10"
ClimaCorePlots = "0.2"
ClimaCoreVTK = "0.6, 0.7"
CloudMicrophysics = "0.6"
Dierckx = "0.5"
DiffEqCallbacks = "2.22"
Distributions = "0.25"
DocStringExtensions = "0.8, 0.9"
FastGaussQuadrature = "0.4"
Flux = "0.12, 0.13"
Insolation = "0.3"
IntervalSets = "0.5, 0.6, 0.7"
JLD2 = "0.4"
LambertW = "0.4"
OperatorFlux = "0.1"
OrdinaryDiffEq = "5.64.0"
StaticArrays = "1.4"
StatsBase = "0.33"
StochasticDiffEq = "6.41"
SurfaceFluxes = "0.4"
Thermodynamics = "0.9"
UnPack = "1"
julia = "1.7"

[extras]
CPUSummary = "2a0fbf3d-bb9c-48f3-b0a9-814d99fd7ab9"
