viscous_sponge: false
dt: "360secs"
t_end: "12hours"
dt_save_state_to_disk: "24hours"
vert_diff: "DecayWithHeightDiffusion"
microphysics_model: "2M"
use_sgs_quadrature: false
rad: "allskywithclear"
aerosol_radiation: true
prescribe_clouds_in_radiation: true
radiation_reset_rng_seed: true
insolation: "timevarying"
non_orographic_gravity_wave: true
orographic_gravity_wave: "gfdl_restart"
surface_setup: "DefaultMoninObukhov"
time_varying_trace_gases: ["O3"]
reproducibility_test: true
prescribed_aerosols: ["SO4", "CB1", "OC1", "DST01", "SSLT01", "SSLT02", "SSLT03", "SSLT04", "SSLT05"]
diagnostics:
  - short_name: [edt, evu, mmrso4, mmrbcpo, mmrocpo, mmrdust, mmrss, loadss, o3, od550aer, odsc550aer]
    reduction_time: average
    period: 12hours
  - short_name: [reffclw, reffcli]
    period: 12hours
