dt_save_state_to_disk: "2days"
initial_condition: "DryBaroclinicWave"
use_auto_jacobian: true
update_jacobian_every: dt
debug_jacobian: true
t_end: "6days"
disable_surface_flux_tendency: true
diagnostics:
  - short_name: [pfull, ua, wa, va, rv, ta, ke]
    period: 1days
  - short_name: [pfull, ua, wa, va, rv, ta, ke]
    period: 1days
    writer: h5
