initial_condition: "MoistBaroclinicWave"
t_end: "5days"
moist: "equil"
surface_setup: DefaultMoninObukhov
prognostic_surface: "SlabOceanSST"
rad: "clearsky"
precip_model: "0M"
vert_diff: true
dt_save_state_to_disk: "5days"
check_conservation: true
diagnostics:
  - short_name: [massa, energya, watera, energyo, watero]
    period: 1days
    writer: dict
