h_elem: 15
z_max: 48000.0
z_elem: 63
dz_bottom: 30.0
dt: 120secs
t_end: 12hours
start_date: "20250627-0000"
initial_condition: "WeatherModel"
topo_smoothing: true
topography: "Earth"
rayleigh_sponge: true

hyperdiff: Hyperdiffusion
divergence_damping_factor: 50.0 # large value to damp IC waves
vorticity_hyperdiffusion_coefficient: 0.1857
hyperdiffusion_prandtl_number: 0.2
insolation: "timevarying"
surface_setup: DefaultMoninObukhov
rad: allskywithclear
turbconv: diagnostic_edmfx
implicit_diffusion: true
approximate_linear_solve_iters: 2
prognostic_tke: true
edmfx_entr_model: "Generalized"
edmfx_detr_model: "Generalized"
edmfx_nh_pressure: true
edmfx_sgs_mass_flux: true
edmfx_sgs_diffusive_flux: true
microphysics_model: "0M"
cloud_model: MLCloud
toml: [toml/diagnostic_edmfx_era5_ic.toml]
use_itime: true
output_default_diagnostics: false
diagnostics:
  - short_name: [ts, ta, thetaa, ha, pfull, rhoa, ua, va, wa, hur, hus, cl, clw, cli, hussfc, evspsbl]
    period: 60mins
  - short_name: [rsut, rlut, tas, pr, mslp]
    period: 60mins
