job_id: diagnostic_edmfx_aquaplanet
surface_setup: DefaultMoninObukhov
rad: clearsky
turbconv: diagnostic_edmfx 
implicit_diffusion: true
approximate_linear_solve_iters: 2
prognostic_tke: true
edmfx_upwinding: first_order 
edmfx_entr_model: "Generalized" 
edmfx_detr_model: "Generalized" 
edmfx_nh_pressure: true 
edmfx_sgs_mass_flux: true
edmfx_sgs_diffusive_flux: true
moist: equil 
precip_model: 0M
override_Ï„_precip: false
dt: 100secs 
t_end: 12hours 
dt_save_state_to_disk: 12hours
regression_test: true
toml: [toml/diagnostic_edmfx_trmm_box.toml]
output_default_diagnostics: false
diagnostics:
  - short_name: [ts, ta, thetaa, ha, pfull, rhoa, ua, va, wa, hfes, hur, hus, cl, clw, cli, evspsbl, rsd, rsu, rld, rlu]
    reduction_time: average
    period: 1hours
  - short_name: [arup, waup, taup, thetaaup, haup, husup, hurup, clwup, cliup, waen, tke, lmix]
    reduction_time: average
    period: 1hours
