initial_condition: "Larcform1"
surface_setup: "Larcform1"     # hijacked for const surface temperature
turbconv: "diagnostic_edmfx"
implicit_diffusion: true
implicit_sgs_advection: false
approximate_linear_solve_iters: 2
edmfx_upwinding: first_order
rayleigh_sponge: true
edmfx_entr_model: "Generalized"
edmfx_detr_model: "Generalized"
edmfx_sgs_mass_flux: true
edmfx_sgs_diffusive_flux: true
edmfx_nh_pressure: true
edmfx_filter: true
#prognostic_tke: true
moist: "nonequil"
config: "column"
z_max: 9000.0
dz_bottom: 20.0
z_elem: 100
z_stretch: true
x_elem: 2
y_elem: 2

#perturb_initstate: false
dt: 2secs
dt_rad: 10mins
t_end: 10days
cloud_model: "grid_scale"
call_cloud_diagnostics_per_stage : true
toml: [toml/diagnostic_edmfx_1M.toml]
netcdf_output_at_levels: true
#netcdf_interpolation_num_points: [2, 2, 200] # needed?
output_default_diagnostics: false
rad: allskywithclear
insolation: "larcform1"
precip_model: "1M"
ode_algo: ARS343

diagnostics: 
  - short_name: [ta, thetaa, pfull, cl, clw, cli, pr, prsn, hus, hur, ua, va, wa, rlu, rld, rhoa] # profiles (2D)
    period: 3hours
    reduction: average
  - short_name: [rlut, rlus, rlds, evspsbl, lwp, rsdt, rlutcs, rldscs, hfes]  # time-series (1D)
    period: 3hours
    reduction: average

# diagnostics:
#  - short_name: [ts, ta, thetaa, ha, pfull, rhoa, ua, va, wa, hur, hus, cl, clw, cli, hussfc, evspsbl, pr]
#    period: 30mins
#    reduction: inst, average
#  - short_name: [arup, waup, taup, thetaaup, haup, husup, hurup, clwup, cliup, waen, taen, thetaaen, haen, husen, huren, clwen, clien, tke]
#    period: 30mins
#    reduction: average
#  - short_name: [entr, detr, lmix, bgrad, strain, edt, evu]
#    period: 30mins
#    reduction: average
#  - short_name: [rlut, rlutcs, rsut, rsdt, rsutcs, clwvi, lwp, clivi, dsevi, clvi, prw, hurvi, husv]
#    period: 30mins
#    reduction: average

# TODO:
# ensure advective tendencies are set to zero
# - surface_temperature 
# Consider surface-atmosphere interactions [Persson et al., 1999]
# set run length to 20 days (analysis on first 10 days)
# set insolation to zero (for model location at 80 degrees N, 1 January) [done]
# consider greenhouse gas concentrations
# Consider moist: "nonequil"; precip_model: "1M"
