initial_condition: "Larcform1"
surface_setup: DefaultMoninObukhov  #"Larcform1_test"
disable_surface_flux_tendency: false # for testing
turbconv: "prognostic_edmfx"
implicit_diffusion: true
implicit_sgs_advection: false
approximate_linear_solve_iters: 2
# edmfx_upwinding: first_order
rayleigh_sponge: true
edmfx_entr_model: "Generalized"
edmfx_detr_model: "Generalized"
edmfx_sgs_mass_flux: true
edmfx_sgs_diffusive_flux: true
edmfx_nh_pressure: true
edmfx_filter: true
prognostic_surface: SlabOceanSST #"EisenmanSeaIce" #"SlabOceanSST" # TODO implement sea ice
moist: "nonequil"
config: "column"
z_max: 9000.0
dz_bottom: 20.0
z_elem: 30
z_stretch: true
x_elem: 1
y_elem: 1
dt: 10secs
dt_rad: 10secs 
t_end: 20days # full run length is 20days
cloud_model: "grid_scale"
call_cloud_diagnostics_per_stage : true
toml: [toml/larcform1.toml]
netcdf_output_at_levels: true
#netcdf_interpolation_num_points: [2, 2, 200] # needed?
output_default_diagnostics: false
rad: allskywithclear
insolation: "larcform1"
precip_model: "1M"
ode_algo: ARS343
log_to_file: true


diagnostics: 
  - short_name: [ta, thetaa, pfull, cl, clw, cli, pr, prsn, hus, hur, ua, va, wa, rlu, rld, rhoa] # profiles (2D)
    period: 1hours
    reduction_time: average
  - short_name: [rlut, rlus, rlds, evspsbl, lwp, rsdt, rlutcs, rldscs, hfss, hfls, ts, tas]  # time-series (1D)
  # sithick only valid for prognostic_surface: EisenmanSeaIce
    period: 1hours
    reduction_time: average

# TODO:
# prognostic surface_temperature // sea-ice model
# consider greenhouse gas concentrations
# SCM coriolis?