initial_condition: "MoistAdiabaticProfileEDMFX"
advection_test: true
turbconv: "prognostic_edmfx"
config: "column"
microphysics_model: "0M"
z_max: 5.5e4
x_elem: 2
y_elem: 2
z_elem: 63
dz_bottom: 30.0
dt: "10secs"
t_end: "3600secs"
dt_save_state_to_disk: "100secs"
FLOAT_TYPE: "Float64"
toml: [toml/prognostic_edmfx_advection.toml]
netcdf_interpolation_num_points: [2, 2, 63]
diagnostics:
  - short_name: [ts, ta, thetaa, ha, pfull, rhoa, ua, va, wa, hur, hus, cl, clw, cli, hussfc, evspsbl, pr]
    period: 10mins
  - short_name: [arup, waup, taup, thetaaup, haup, husup, hurup, clwup, cliup, waen, taen, thetaaen, haen, husen, huren, clwen, clien, tke, lmix]
    period: 10mins
ode_algo: "ARS222"
