initial_condition: "Bomex"
subsidence: "Bomex"
scm_coriolis: "Bomex"
ls_adv: "Bomex"
surface_setup: "Bomex"
turbconv: "prognostic_edmfx"
implicit_diffusion: true
implicit_sgs_advection: true
implicit_sgs_entr_detr: true
implicit_sgs_nh_pressure: true
implicit_sgs_vertdiff: true
implicit_sgs_mass_flux: true
approximate_linear_solve_iters: 2
max_newton_iters_ode: 3
edmfx_entr_model: "Generalized"
edmfx_detr_model: "Generalized"
edmfx_sgs_mass_flux: true
edmfx_sgs_diffusive_flux: true
edmfx_nh_pressure: true
edmfx_vertical_diffusion: true
edmfx_filter: true
prognostic_tke: true
precip_model: 0M
cloud_model : "grid_scale"
moist: "equil"
config: "column"
z_max: 5e3
z_elem: 40
z_stretch: false
perturb_initstate: false
dt: "50secs"
t_end: "6hours"
dt_save_state_to_disk: "10mins"
toml: [toml/prognostic_edmfx_bomex.toml]
netcdf_interpolation_num_points: [2, 2, 60]
diagnostics:
  - short_name: [ts, ta, thetaa, ha, pfull, rhoa, ua, va, wa, hur, hus, cl, clw, cli, hussfc, evspsbl, pr]
    period: 10mins
  - short_name: [arup, waup, taup, thetaaup, haup, husup, hurup, clwup, cliup, waen, taen, thetaaen, haen, husen, huren, clwen, clien, tke]
    period: 10mins
  - short_name: [entr, detr, lmix, lmixw, lmixtke, lmixb, bgrad, strain, edt, evu]
    period: 10mins
ode_algo: "ARS222"
