# This job takes too long so we use a lower top and coarser vertical resolution
z_max: 30000.0
z_elem: 10
dz_bottom: 500.0
dt: 20secs
surface_setup: DefaultMoninObukhov
rad: clearsky
turbconv: prognostic_edmfx
prognostic_tke: true
edmfx_entr_model: "Generalized"
edmfx_detr_model: "Generalized"
edmfx_nh_pressure: true
edmfx_vertical_diffusion: true
edmfx_filter: true
edmfx_sgs_mass_flux: true
edmfx_sgs_diffusive_flux: true
implicit_diffusion: true
implicit_sgs_advection: true
implicit_sgs_entr_detr: true
implicit_sgs_nh_pressure: true
implicit_sgs_vertdiff: true
implicit_sgs_mass_flux: true
approximate_linear_solve_iters: 2
max_newton_iters_ode: 3
microphysics_model: "0M"
t_end: 1hours
dt_save_state_to_disk: 600secs
toml: [toml/prognostic_edmfx.toml]
output_default_diagnostics: false
reproducibility_test: true
diagnostics:
  - short_name: [ts, ta, thetaa, ha, pfull, rhoa, ua, va, wa, hfss, hfls, hur, hus, cl, clw, cli, evspsbl, pr, rsd, rsu, rld, rlu]
    reduction_time: average
    period: 1hours
  - short_name: [arup, waup, taup, thetaaup, haup, husup, hurup, clwup, cliup, waen, tke, lmix]
    reduction_time: average
    period: 1hours
use_itime: true
ode_algo: "ARS222"
