h_elem: 16 #120
z_elem: 43
dz_bottom: 30.0
dt: "40secs" # 200
approximate_linear_solve_iters: 3
max_newton_iters_ode: 1
rayleigh_sponge: true
t_end: "5days"
initial_condition: "MoistBaroclinicWave"
moist: "nonequil"
precip_model: "1M"
dt_save_state_to_disk: "10days"
toml: [toml/longrun_baroclinic_wave.toml]
diagnostics:
  - short_name: [pfull, wa, va, ua, ta, rhoa, rv, hus, ke, clw, cli, husra, hussn]
    period: 1days
