name: ci
on:
  push:
    branches: [main]
    tags: '*'
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  test:
    name: ci ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.test_group }}

    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
          - '1.11'
        os:
          - ubuntu-latest
          - windows-latest
          # There is a concurrency limit for MacOS runners across the
          # entire organization.
          # (see https://docs.github.com/en/actions/reference/limits#job-concurrency-limits-for-github-hosted-runners)
          # To help with this, MacOS runners are only run when PRs are merged
          # into the main branch.
          - ${{ github.event_name == 'push' && 'macos-latest' || '' }}
        exclude:
          - os: ''
        test_group:
          - infrastructure
          - dynamics
          - parameterizations
          - restarts
          - era5
    env:
      TEST_GROUP: ${{ matrix.test_group }}
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
          token: ${{secrets.CODECOV_TOKEN}}
