name: lookahead

# This action sets up a couple of tests for newer versions of julia and for
# dependencies more recent than the one in examples so that one can see if there
# are upcoming problems.

on:
  push:
    tags: '*'
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  test:
    name: ci ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/cache@v1
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: Instantiate test env
        run: |
          julia --project=test -e "using Pkg; Pkg.develop(path=\".\"); Pkg.instantiate()"
      - name: Run test_env.yml
        continue-on-error: true
        run: |
          julia --project=test examples/hybrid/driver.jl --config_file config/model_configs/test_env.yml
      - name: Run tests
        run: |
          julia --project=test test/runtests.jl
